<h1>Restaurant Page</h1>

<p>
	<b>Restaurant Name:</b>
	<%= @restaurant.name %>
</p>
<p>
	<b>Address:</b>
	<%= @restaurant.address %>
</p>
<p>
	<b>Phone Number:</b>
	<%= @restaurant.phone_number %>
</p>
<p>
	<b>Description:</b>
	<%= @restaurant.description %>
</p>

<% if current_user %>
	<h3>Reservations for <%= @restaurant.name %>:</h3>
<!-- <p>Reservations for <%= @restaurant.name %></p> -->

	<% @restaurant.reservations.each do |reservation| %>
		<p>
			<%= reservation.party_size %>
			<br>
			<% if reservation.user != nil %>
				<em> by <%= reservation.user.email %></em>
				Added on: <%= reservation.created_at %>
			<% end %>	
		</p>
	<% end %>	

	<h4>New Reservation</h4>
	<%= form_for([@restaurant, @reservation]) do |f| %>
		<% if @reservation.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

				<ul>
				<% @reservation.errors.full_messages.each do |msg| %>	
					<li><%= msg %></li>
				<% end %>	
				</ul>
			</div>
		<% end %>	

		<div class="field">
			<%= f.label :party_size %><br>
			<%= f.number_field :party_size, :min => 2, :max => 20 %><br>
		</div>
		<div class="actions"><%= f.submit %></div>
	<% end %>
<% else %>		
	<p>Please <%= link_to "log in", new_session_path %> to make a reservation.</p>
<% end %>	


<b><%= link_to "Back", restaurants_path %></b>